.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


*.apk
*.ap_
*.dex
*.class
*.iml

bin/
gen/
out/

/app/src/main/java/com/github/ali77gh/unitools/core/MyDataBeen.java